<!DOCTYPE html>
<html>
<head>
  <title>Angry Birds Fan Club</title>
  <link rel="shortcut icon" href="/favicon1.ico" />
  <style type="text/css">
  			a{
  				color: yellow;
  				font-size: x-large;
  			}
  			.ii a[href] {
					color: yellow;
				}
  			p ,h1, h2,h3 ,h4 {text-indent:50px;}
  </style>
</head>
<body style="margin: 0;"> 
    <table  style="width: 100%;max-width: 500px; border: solid 2px; background-image: url('https://lh3.googleusercontent.com/-dMUi7YALWBs/UfAxXJko-MI/AAAAAAAAATg/6FbQ8W7AowY/w933-h525-no/space-bg.jpg');color: white;">
        <tr>
        	<td>
        			<br/>
        			<br/>
        	</td>
        </tr>
        <tr>
            <td>
                <img src="https://lh3.googleusercontent.com/-j8xlnVIAQ9U/Uc-IOdiKccI/AAAAAAAAAAs/X2e1DnZ7fQA/w535-h150-no/logo2.png" width="100%"  />
            </td>
        </tr>
        <tr>
        	<td>
        			<br/>
        			<br/>
        	</td>
        </tr>
        <tr>
            <td>
            		<h1> <%= @persona.nombre %> <%= @persona.apellido%>:</h1>
                    <br/>
                    <h2> Su nombre de usuario a cambiado correctamente, ahora es: <%= @persona.username%> </h2>
            </td>
        </tr>
        <tr>
        	<td>
        			<br/>
        			<br/>
        	</td>
        </tr>
        <tr>
							<td>
									<img src="https://lh5.googleusercontent.com/-FEGlRYYVri0/UfA0PCYJILI/AAAAAAAAAUY/dCYOnaX9T9M/w957-h517-no/1024px-P%25C3%25A1jaro_Negro_en_Angry_Birds_Space.jpg" width="100%" alt="" >
							</td>        
        </tr>
    </table>
</body>
</html>
