@font-face {
    font-family: 'AngryBirds';
    src:url('../font/angrybirds-regular-webfont.woff');
}
* {
    margin: 0;
    padding: 0;
}
*:focus  {
      outline: none;  
}
html, body {
    height: 100%;
}
a{
    cursor: pointer;
}
#page{
    position: absolute;
    top:0;
    left: 0;
    min-height:100%;
    display: none;
}


#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color:#6dd4bc;
    border-bottom: solid 2px yellow;
    box-shadow: 0 0 10px black, inset 0 0 10px rgba(50,50,50,0.8);
    border-radius: 0 0 10px 10px; 
    z-index: 30;
}
#header p{
    position: absolute;
    left: 10px;
    top: 10px;
    height: 30px;
    padding-right: 10px;
    line-height: 30px;
    font-size: 30px;
    font-family: "AngryBirds";
    color: white;
    text-shadow: 0 0 10px black; 
    text-align: left;
    border-right: solid 2px yellow;
     
}
#header ul{
    list-style: none;
    line-height: 50px;
    position: absolute;
    left: 210px;
    height: 100%;
}
#header ul li{
    position: relative;
    display: inline-block;
    background: rgba(50,50,50,0.3);
    top:5px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 1px black;
    box-shadow: inset 0 0 5px rgba(50,50,50,0.6);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
#header ul .seleccionado{
    cursor: default;
    background: none;
    color:#4bb29a;
    text-shadow: 0px -1px 0px #374683;
}
#header ul .seleccionado:hover{
    box-shadow: inset 0 0 5px rgba(50,50,50,0.6);
}
#header ul li:hover{
    box-shadow: 0 0 5px black;
}
#body{
    text-align: center;
    width: 100%;
    min-width: 700px;
    height:100%;
    background: rgba(179,250,255,1);
    background: -moz-linear-gradient(top, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,250,255,1)), color-stop(100%, rgba(219,245,255,0.08)));
    background: -webkit-linear-gradient(top, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    background: -o-linear-gradient(top, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    background: -ms-linear-gradient(top, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    background: linear-gradient(to bottom, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3faff', endColorstr='#dbf5ff', GradientType=0 );
    
}
#footer{
    position: absolute;
    bottom: 0px;
    width:100%;
    height:150px;
    background-image:url("/picture/footer.png");
    background-repeat:repeat-x;
    z-index: 3;
}

#main{
    position: relative;
    text-align:center;
    padding-top: 70px;
    padding-bottom: 30px;
    width: 100%;
    margin-top: 52px;
    margin-bottom: 170px;
    overflow: hidden;
}
#main div{
    background-color:#6dd4bc;   
}
#main div h1{
    text-align: left;line-height: 30px;
    font-size: 30px;
    font-family: "AngryBirds";
    color: white;
    text-shadow: 0 0 2px black; 
    border-bottom: 1px solid yellow;
}
.datos{
   box-shadow: 0 0 4px rgba(50,50,50,0.5);
   border-radius: 5px;
   line-height: 25px;
   font-size: 20px;
   font-weight: bold;
   width: 100%;    
}
.datos tr{
   
   text-align: left;
}
.datos tr td{
    padding-left: 10px;
    padding-right: 10px;
}
.datos tr td:first-child{
    width: 150px;
}
.datos tr td:last-child{
    text-align: right;
}
.datos tr:first-child td:first-child{
    --border-bottom: 1px solid black;
    
}
.datos tr:first-child{
    box-shadow:  0 1px rgba(50,50,50,0.5);
}
.datos tr:last-child{
    box-shadow:  0 -1px rgba(50,50,50,0.5);
}
#usuario{
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 5%;
    padding-top:20px;
    border: solid 2px yellow;
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(50,50,50,0.5);
}

#grafico_usuario_genero{
    width: 200px;
    height: 200px;
}
