@font-face {
    font-family: 'AngryBirds';
    src:url('../font/angrybirds-regular-webfont.woff');
}
* {
    margin: 0;
    padding: 0;
}
*:focus  {
      outline: none;  
}
html, body {#coding: utf-8
    height: 100%;
}

#page{
    position: absolute;
    top:0;
    left: 0;
    min-height:100%;
    display: none;
}
#header{
    overflow: hidden;
    position: relative;
    
    left: 0;
    width: 100%;
    height: 75px;
    z-index: 2;
}
#body{
    text-align: center;
    width: 100%;
    height:100%;
    
    background: rgba(179,250,255,1);
    background: -moz-linear-gradient(top, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,250,255,1)), color-stop(100%, rgba(219,245,255,0.08)));
    background: -webkit-linear-gradient(top, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    background: -o-linear-gradient(top, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    background: -ms-linear-gradient(top, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    background: linear-gradient(to bottom, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3faff', endColorstr='#dbf5ff', GradientType=0 );
    
}

#footer{
    position: absolute;
    bottom: 0px;
    z-index: 3;
    width:100%;
    height:150px;
    background-image:url("/picture/footer.png");
    background-repeat:repeat-x;
}


#navegador{
            position: relative;
            width: 80%;
            min-width: 600px;
            height: 50px;
            margin: 0 auto;
            text-align: left;
            margin-top: 15px;
            background-color:#6dd4bc;
            display: run-in;
}
#navegador nav{
            width: 80%;
}
#navegador nav ul li{
    background-color: transparent;  
    display:inline-block;
    margin-left: 20px;
    cursor: pointer;
    padding: 2px;
     
    font-family: "AngryBirds"; 
    text-align:center;
    font-size:30px; 
    line-height: 42px;
    
}
#navegador nav ul li a{
     text-decoration: none;
     color: #666;
}
#navegador nav ul li  a:visited{
 color: #666;
}
#navegador nav ul li a:hover{
 color: #fff;
}
#navegador nav ul li :hover{
     background-color: transparent;
     border-radius:2px;
     text-shadow: 3px 3px 4px rgba(0,0,0,0.6); 
}
#fotoPerfil{
    position: absolute;
    right: 10px;
    top: 5px;
    width: 40px;
}
.borde{
    margin: 0 auto;
    border-radius: 20px;
    border-color: yellow;
    border-style: solid;
    border-width: 4px;
    box-shadow:inset 0px 0px 20px rgba(50,50,50,0.8);
}
#titulo{
    position: relative;
    width: 80%;
    min-width: 600px; 
    height: 100px;
    
    margin-top: 30px; 
    
 background-color:#6dd4bc;  
    
 color: white;
 text-decoration:inherit;
 font-family: "AngryBirds"; 
 text-align:center;
 font-size:100px;   
 line-height: 100px;
 text-shadow: 3px 3px 20px rgba(0,0,0,1);
 
 border-radius: 20px 20px 0px 0px; 
}

a{
    text-decoration: none;
}
#accesoDirecto{
    position: relative;
    border: solid red;
    top: 0px;
    height: 30px;
    left:0;
    width: 80%;
    min-width: 600px;
    border-style: none;
    border-radius: 0px 0px 20px 20px;   
    
    box-shadow:none;    
 
    cursor: pointer;
}
#accesoDirecto1{
    position: absolute;
    left:-4px;
    top:0;
    
    
        
    border: yellow solid 4px;
    border-right: none;
    border-top-style: none;
    width: 50%;
    
    border-radius: 0px 0px 0px 20px;
    color: black;
 font-family: "AngryBirds"; 
 text-align:center;
 font-size:20px;    
 line-height: 30px;
 text-decoration: none;
 
 box-shadow:inset 5px 0px 20px rgba(50,50,50,0.8);
}

#accesoDirecto2{
    position: absolute;
    right:-4px;
    margin-left: 50%;
    top:0;
    
    
    height: 30px;
    border: yellow solid 4px;
    border-top: none;
    border-left: none;
    
    width: 50%;
    border-radius: 0 0px 20px 0px;
    
     color: black;
     font-family: "AngryBirds"; 
     text-align:center;
     font-size:20px;    
     line-height: 30px;
 
    box-shadow:inset -5px 0px 20px rgba(50,50,50,0.8);
}

#accesoDirecto1:hover{
    color: white;
    
    background-color:#6dd4bc;
    
}

#accesoDirecto2:hover{
    color: white;
        
    background-color:#6dd4bc;

}
#titulo img{
    position: absolute;
    top: -40px;
    left:-40px;
    z-index: 10;
    width: 90px;
    height: 90px;
}


#error{
  border: 2px solid red;
  height: 100%;
  background-color: #f0f0f0;
    border-width: 2px;
    width: 800px;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.5),
                                                        0 1px 4px rgba(0, 0, 0, 0.3),
                                                        0 0 40px rgba(0, 0, 0, 0.1) inset;
                                                        
-moz-box-shadow:    0 20px 20px -10px rgba(0, 0, 0, 0.5),
                                            0 1px 4px rgba(0, 0, 0, 0.3),
                                            0 0 40px rgba(0, 0, 0, 0.1) inset;
                                            
box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.5),
                                0 1px 4px rgba(0, 0, 0, 0.3),
                                0 0 40px rgba(0, 0, 0, 0.1) inset;
  
  
}
#error_title{
    position: relative;
    top: -10px;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #c00;
    color: white;
    font-weight: bold;
  font-size: 20px;
  text-align:center;
}
#error ul{
        list-style:none;
        text-align:center;    
  }
#error ul li {
     text-align:center;
     padding: 5px;
     font-size: 20px;
}




.pagination{
    top: 100%;
    margin: 0 auto;
     color: gray;
     margin-top: 50px;
     font-family: "AngryBirds";
     font-size:30px;    
     line-height: 50px;
}
.pagination span:hover{
}
.pagination a{
    color: black;
}
.pagination a:hover{
    color: yellow;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
}
.current{
    color: white;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.8); 
}
.disabled{
    color: gray;
}
.disabled:hover{
    color: gray;
}
.gap{
    --display: none;
}









#wrapper {
    width: 80%;
    min-width: 600px;
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 150px;
}

#columns {
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 2;
    column-gap: 15px;
    column-fill: auto;
}

.pin {
    display: inline-block;
    background: none;
    border: none;
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    overflow: hidden;
}

.pin .contenido #covertor{
    position: absolute;
    display: none;
    top: 50%;
    left: 25%;
    width: 50%;
    margin-top: -25%;
    background: rgba(0,0,0,0.6);
    border-radius: 20px;
    z-index: 50;
        
    transition: all 0.5s linear;
}
#covertor a{
    font-family: "AngryBirds"; 
    text-align:left;
    font-size:50px; 
    line-height: 60px;
    color: white;
    text-align: center;
}
.pin .contenido:hover #covertor{
    display: block;
    transition: all 0.5s linear;   
}
.pin .contenido{
    position: relative;
    border: solid 2px yellow;
    box-shadow:  inset 0 0 20px rgba(50,50,50,0.8);
    width: 90%;
    background: #6DD4BC;
    border-radius: 20px;
    margin: 0 auto;
}
.pin .contenido h1{
    position: relative;
    display: block;
    text-align: center;
    margin:0 auto;
    margin-bottom: 20px;
    
    padding: 10px;
    font-family: "AngryBirds"; 
    text-align:left;
    font-size:50px; 
    line-height: 55px;
    color: white;
    text-align: center;
    
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    font-weight: 700;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.6);
    
    -moz-hyphens:auto;
    -ms-hyphens:auto;
    -webkit-hyphens:auto;
    -o-hyphens:auto; hyphens:auto;
    word-wrap:break-word; 
}
.pin .contenido p{
    position: relative;
    display: block;
    overflow: hidden;
    color: #eeee00;
    text-shadow: 0 0 2px black;
    text-align: justify;
    padding: 20px;
    font-size:25px; 
    line-height: 29px;
    font-weight: bold;
    -moz-hyphens:auto; -ms-hyphens:auto; -webkit-hyphens:auto; -o-hyphens:auto; hyphens:auto; word-wrap:break-word; 
}
.pin .contenido img{
    position: relative;
    padding: 2.5%;
    background: #6DD4BC; 
    box-shadow: inset 0 0 20px rgba(0,0,0,0.6);
    border-radius: 5px;
    max-width: 95%;
    max-height: 200px;
}








#form_new{
    position: relative;
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
    margin-bottom: 160px;
    margin-top: 50px;
    
    font-family: "AngryBirds";
    font-size:25px;    
    line-height: 30px; 
}

#form_new .field{
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #6dd4bc;
    border: 2px solid yellow;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    padding-top:20px;
    box-shadow:  0 0 10px black, inset 0 0 30px rgba(0,0,0,0.6);
}
#form_new .field input{
    position: relative;
    color: yellow;
    font-family: "AngryBirds";
    width: 60%;
    min-width: 560px;
    height: 40px;
    background: #5cc3ab;
    border: none;
    padding:10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-size:36px;    
    line-height: 40px;
    box-shadow:  0 0 10px black, inset 0 0 30px rgba(0,0,0,0.6);
    text-align: center;
}
#form_new .field label{
    color: white;
    text-shadow: 0 0 10px black;
    font-size:40px;    
    line-height: 45px;
}
#form_new .field textarea{
    position: relative;
    margin:0 auto;
    margin-top: 20px;
    width:90%;
    height: 500px;
    padding: 10px;
    background: #5cc3ab;
    border: none;
    border-radius: 20px;
    
    box-shadow:  0 0 10px black, inset 0 0 30px rgba(0,0,0,0.6);
    font-family: "AngryBirds";
    color:black;
    font-size:23px;    
    line-height: 25px;
    text-align: justify;
    overflow-y: auto;
}
#form_new .field #boton_guardar{
    height: 60px;
    color: white;
    font-family: "AngryBirds";
    width: 30%;
    font-size:36px;    
    line-height: 40px;
    margin: 0 auto;
    text-shadow: 0 0 10px black;
    background-color: #6dd4bc;
    box-shadow:  0  10px rgba(59,172,148,1), inset 0 0 10px rgba(50,50,50,0.8);
    transition: all 0.3 linear;
}
#form_new .field #boton_guardar:hover{
    color: yellow;
    top: 5px;
    box-shadow:  0  5px rgba(59,172,148,1), inset 0 0 10px rgba(50,50,50,0.8);
    transition: all 0.3 linear;
}
#form_new .field #boton_guardar:active{
    color: yellow;
    top:10px;
    box-shadow:  0  0px rgba(59,172,148,1), inset 0 0 10px rgba(50,50,50,50.8);
    transition: all 0.3 linear;
}

#form_new .imagen{
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px solid yellow;
    background-color: #6dd4bc;
    box-shadow: inset 0 0 20px rgba(50,50,50,0.8);
    border-radius: 20px;    
}
#form_new .imagen img{
    position: relative;
    margin: 0 auto;
    left: 7.5%;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    padding: 2.5%;
    box-shadow: inset 0 0 20px rgba(50,50,50,0.8);
    border-radius: 10px;
}

.custom-input-file {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-color: #6dd4bc;
    
    margin-top: 20px;
    
    color: white;
     text-decoration:inherit;
     font-family: "AngryBirds"; 
     text-align:center;
     font-size:40px;    
    line-height: 45px;
     text-shadow: 0 0 10px rgba(50,50,50,0.6);
    
    border-radius: 20px;
    width: 100%;
    min-height: 40px;
    box-shadow:  0 0 10px black, inset 0 0 30px rgba(0,0,0,0.6);
    border: solid 2px yellow;
    padding-top: 20px;
    padding-bottom: 20px;
}
.custom-input-file:hover {
    color: #ffff00;
}
.custom-input-file .input-file {
    margin: 0;
    padding: 0;outline:0;
    font-size: 10000px;
    border: 10000px solid transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    right: -1000px;
    top: -1000px;
    cursor: pointer;
}
.custom-input-file .archivo {
    position: relative;
    
    margin: 0 auto;
    margin-top: 20px;
    background: #5cc3ab;
    width: 60%;
    box-shadow:  0 0 10px black, inset 0 0 30px rgba(0,0,0,0.6);
    border-radius: 10px;
    color: #000;
    font-size:30px;    
    line-height: 35px;
    overflow: hidden;
    cursor: default;
    text-shadow: none;
}




#noticia{
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 170px;
    
    background-color: #6dd4bc;
    border: solid 2px yellow;
    border-radius: 20px;
    box-shadow: inset 0 0 20px rgba(50,50,50,0.8);
    padding: 10px;
}
#noticia h1{
    padding: 10px;
    font-family: "AngryBirds";
    font-size:80px; 
    line-height: 100px;
    color: white;
    text-align: center;
    
    
    text-shadow: 3px 3px 4px rgba(0,0,0,0.6), 0 0 4px yellow, 0 0 1px black;
    
    -moz-hyphens:auto;
    -ms-hyphens:auto;
    -webkit-hyphens:auto;
    -o-hyphens:auto; hyphens:auto;
    word-wrap:break-word;    
}
#noticia {
    color: #eeee00;
    text-shadow: 0 0 2px black;
    text-align: justify;
    text-indent: 30px;
    font-size:25px; 
    line-height: 29px;
    font-weight: bold;
    -moz-hyphens:auto; -ms-hyphens:auto; -webkit-hyphens:auto; -o-hyphens:auto; hyphens:auto; word-wrap:break-word;   
}
#noticia img{
    float: left;
    margin: 0 10px 10px 0;
    top: 0;
    left: 20px;
    max-width: 50%;
    padding: 10px;
    background-color: #6dd4bc;
    box-shadow: inset 0 0 20px black;
    border-radius: 10px;    
}
.custom-input-file:hover .archivo {
    
}





#nada{
    position: relative;
    margin: 0 auto;
    width: 80%;
    min-width: 600px;
}
#nada h1{
    color: red;
    font-family: "AngryBirds";
    font-size:60px;    
    line-height: 80px;    
}
