@font-face {
    font-family: 'AngryBirds';
    src:url('../font/angrybirds-regular-webfont.woff');
}
* {
    margin: 0;
    padding: 0;
}
*:focus  {
      outline: none;  
}
html, body {#coding: utf-8
    height: 100%;
}
a{
    cursor: pointer;
}
#page{
    position: absolute;
    top:0;
    left: 0;
    min-height:100%;
    display: none;
}
#header{
    overflow: hidden;
    position: relative;
    
    left: 0;
    width: 100%;
    height: 75px;
    z-index: 2;
}
#body{
    text-align: center;
    width: 100%;
    height:100%;
    
    background: rgba(179,250,255,1);
    background: -moz-linear-gradient(top, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,250,255,1)), color-stop(100%, rgba(219,245,255,0.08)));
    background: -webkit-linear-gradient(top, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    background: -o-linear-gradient(top, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    background: -ms-linear-gradient(top, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    background: linear-gradient(to bottom, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3faff', endColorstr='#dbf5ff', GradientType=0 );
    
    margin-bottom: 170px;
}

#footer{
    position: absolute;
    bottom: 0px;
    z-index: 3;
    width:100%;
    height:150px;
    background-image:url("/picture/footer.png");
    background-repeat:repeat-x;
}
#bienvenida{
    position: relative;
    max-width: 1022px;
    width: 80%;
    min-width: 600px;
    height:250px;
    margin-top: 30px;
    overflow: hidden;
    color: black;
    font-family: "AngryBirds"; 
    text-align:center;
    font-size:30px; 
    line-height: 42px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    
}
#bienvenida img{
    width: 100%;
    height: 250px;
    
}
#bienvenida h1{
    position: relative;
    top: -200px;
    color: white;
}

#navegador{
            position: relative;
            width: 80%;
            min-width: 600px;
            height: 50px;
            margin: 0 auto;
            text-align: left;
            margin-top: 15px;
            background-color:#6dd4bc;
            display: run-in;
}
#navegador nav{
            width: 80%;
}
#navegador nav ul li{
    background-color: transparent;  
    display:inline-block;
    margin-left: 20px;
    cursor: pointer;
    padding: 2px;
     
    font-family: "AngryBirds"; 
    text-align:center;
    font-size:30px; 
    line-height: 42px;
    
}
#navegador nav ul li a{
     text-decoration: none;
     color: #666;
}
#navegador nav ul li  a:visited{
 color: #666;
}
#navegador nav ul li a:hover{
 color: #fff;
}
#navegador nav ul li :hover{
     background-color: transparent;
     border-radius:2px;
     text-shadow: 3px 3px 4px rgba(0,0,0,0.6); 
}
#fotoPerfil{
    position: absolute;
    right: 10px;
    top: 5px;
    width: 40px;
}
.borde{
    margin: 0 auto;
    border-radius: 20px;
    border-color: yellow;
    border-style: solid;
    border-width: 4px;
    box-shadow:inset 0px 0px 20px rgba(50,50,50,0.8);
}
#titulo{
    position: relative;
    width: 80%;
    min-width: 600px; 
    height: 100px;
    
    margin-top: 30px; 
    
 background-color:#6dd4bc;  
    
 color: white;
 text-decoration:inherit;
 font-family: "AngryBirds"; 
 text-align:center;
 font-size:100px;   
 line-height: 100px;
 text-shadow: 3px 3px 20px rgba(0,0,0,1);
 
 border-radius: 20px 20px 0px 0px; 
}

a{
    text-decoration: none;
}
#accesoDirecto{
    position: relative;
    border: solid red;
    top: 0px;
    height: 30px;
    left:0;
    width: 80%;
    min-width: 600px;
    border-style: none;
    border-radius: 0px 0px 20px 20px;   
    
    box-shadow:none;    
 
    cursor: pointer;
}
#accesoDirecto1{
    position: absolute;
    left:-4px;
    top:0;
    
    
        
    border: yellow solid 4px;
    border-right: none;
    border-top-style: none;
    width: 50%;
    
    border-radius: 0px 0px 0px 20px;
    color: black;
 font-family: "AngryBirds"; 
 text-align:center;
 font-size:20px;    
 line-height: 30px;
 text-decoration: none;
 
 box-shadow:inset 5px 0px 20px rgba(50,50,50,0.8);
}

#accesoDirecto2{
    position: absolute;
    right:-4px;
    margin-left: 50%;
    top:0;
    
    
    height: 30px;
    border: yellow solid 4px;
    border-top: none;
    border-left: none;
    
    width: 50%;
    border-radius: 0 0px 20px 0px;
    
     color: black;
     font-family: "AngryBirds"; 
     text-align:center;
     font-size:20px;    
     line-height: 30px;
 
    box-shadow:inset -5px 0px 20px rgba(50,50,50,0.8);
}

#accesoDirecto1:hover{
    color: white;
    
    background-color:#6dd4bc;
    
}

#accesoDirecto2:hover{
    color: white;
        
    background-color:#6dd4bc;

}
#titulo img{
    position: absolute;
    top: -40px;
    left:-40px;
    z-index: 10;
    width: 90px;
    height: 90px;
}

#imagen{
    text-align: center;
}
#visorNoticia{
    width: 80%;
    min-width: 600px;
    position: relative;
    height: 400px;
    margin-top: 60px;
    overflow: hidden;
    background-color:#6dd4bc;
}
#visorImagen #icono{
    position: absolute;
    top: -50px;
    left: -50px;
    height: 100px;
    width: 100px;
}
#visorImagen{
    width: 80%;
    min-width: 600px;
    position: relative;
    height: 410px;
    margin-top: 60px;
    
    background-color:#6dd4bc;
}
#visorVideo{
    width: 80%;
    min-width: 600px;
    position: relative;
    margin-top: 60px;
    background-color:#6dd4bc; 
}



#experiment {
    width: 400px;
    height: 400px;
    padding: 20px;
    margin: 0 auto;
      -webkit-perspective: 800;
      -webkit-perspective-origin: 50% 50%;

      -moz-perspective: 800;
      -moz-perspective-origin: 50% 50%;
    }

    #cube {
      position: relative;
      margin: 100px auto 0;
      height: 240px;
      width: 240px;
      -webkit-transition: -webkit-transform 2s linear;
      -webkit-transform-style: preserve-3d;

      -moz-transition: -moz-transform 2s linear;
      -moz-transform-style: preserve-3d;

    -webkit-animation: rota3d 30s linear infinite;
    -moz-animation: rota3d 30s linear infinite;
        
    }

    .face {
      position: absolute;
      height: 240px;
      width: 240px;

      background-color: transparent;      
      transition: 1s linear;    
    border-style:solid;
    border-color: yellow;
    box-shadow: inset 0 0 10px rgba(50,50,50,0.8);
    }

    #cube .one  {
      -webkit-transform: rotateX(90deg) translateZ(120px);
      -moz-transform: rotateX(90deg) translateZ(120px);
    }

    #cube .two {
      -webkit-transform: translateZ(120px);
      -moz-transform: translateZ(120px);
    }

    #cube .three {
      -webkit-transform: rotateY(90deg) translateZ(120px);
      -moz-transform: rotateY(90deg) translateZ(120px);
    }

    #cube .four {
      -webkit-transform: rotateY(180deg) translateZ(120px);
      -moz-transform: rotateY(180deg) translateZ(120px);
    }

    #cube .five {
      -webkit-transform: rotateY(-90deg) translateZ(120px);
      -moz-transform: rotateY(-90deg) translateZ(120px);
    }

    #cube .six {
      -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(120px);
      -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(120px);
    }
    
    #visorVideo:hover  #cube .one  {
      -webkit-transform: rotateX(90deg) translateZ(200px);
      -moz-transform: rotateX(90deg) translateZ(200px);
    }

    #visorVideo:hover  #cube .two {
      -webkit-transform: translateZ(200px);
      -moz-transform: translateZ(200px);
    }

    #visorVideo:hover  #cube .three {
      -webkit-transform: rotateY(90deg) translateZ(200px);
      -moz-transform: rotateY(90deg) translateZ(200px);
    }

    #visorVideo:hover  #cube .four {
      -webkit-transform: rotateY(180deg) translateZ(200px);
      -moz-transform: rotateY(180deg) translateZ(200px);
    }

    #visorVideo:hover  #cube .five {
      -webkit-transform: rotateY(-90deg) translateZ(200px);
      -moz-transform: rotateY(-90deg) translateZ(200px);
    }

    #visorVideo:hover  #cube .six {
      -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
      -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(200px);
   }    
    @-webkit-keyframes rota3d {
       to { -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg)}
    }
    @-moz-keyframes rota3d {
       to { -moz-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg)}
    }
    




.imagenVideo{
    position: relative;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    
}
.play{
    position: absolute;
    left: 95px;
    top: 95px;
    z-index: 10;
    
    height: 50px;
    width: 50px;
}
.play2{
    position: absolute;
    left: 215px;
    top: 155px;
    z-index: 10;
    
    height: 50px;
    width: 50px;
}
.covertor{
    position:absolute;
    left:0;
    top:0;
    z-index: 20;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#visorVideo #icono{
    position: absolute;
    top: -50px;
    left: -50px;
    height: 100px;
    width: 100px;
}

#contenido #mensajes{
    position: relative;
    top: -20px;
    margin: auto;
    background-color: blue;
    opacity: 0.6;
    width: 60%;
    height: 30px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    border-radius: 5px;
    transition: all 2s linear;
}

#contenido #mensajes p {
    transition: all 2s linear;
    color: white;
    line-height: 30px;
    font-size: 25px;
    font-weight: bold;
    opacity: 0.7;
}
.close {
    position: relative;
    right: 20px;
    float: right;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.4;
    filter: alpha(opacity=20);
}
.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=100);
}
button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}