@font-face {
    font-family: 'AngryBirds';
    src:url('../font/angrybirds-regular-webfont.woff');
}
* {
    margin: 0;
    padding: 0;
}
*:focus  {
	  outline: none;  
}
a{
 color: #666;
}
a:visited{
 color: #666;
}
a:hover{
 color: #fff;
}
html, body{
   margin:0;
   padding:0;
   height:100%;
}
#header{
    overflow: hidden;
    position: relative;
    
    left: 0;
    width: 100%;
    height: 75px;
    --background-color: rgba(179,250,255,1);
    z-index: 2;
}
#body{
    text-align: center;
    width: 100%;
    background: rgba(179,250,255,1);
    background: -moz-linear-gradient(top, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,250,255,1)), color-stop(100%, rgba(219,245,255,0.08)));
    background: -webkit-linear-gradient(top, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    background: -o-linear-gradient(top, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    background: -ms-linear-gradient(top, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    background: linear-gradient(to bottom, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3faff', endColorstr='#dbf5ff', GradientType=0 );
    
}

#footer{
    position: relative;
    
    z-index: 3;
    bottom: -50px;
    width:100%;
    height:150px;
    background-image:url("/picture/footer.png");
    background-repeat:repeat-x;
}
#bienvenida{
    height:250px;
    margin-top: 30px;
    overflow: hidden;
    color: black;
    font-family: "AngryBirds"; 
    text-align:center;
    font-size:30px;	
    line-height: 42px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    
}
#bienvenida h1{
	position: relative;
	top: -200px;
}
#navegador{
			position: relative;
			height: 50px;
			text-align: left;
			margin-top: 15px;
			background-color:#6dd4bc;
			display: run-in;
}
#navegador nav{
			width: 982px;
}
#navegador nav ul li{
    background-color: transparent;	
    display:inline-block;
    margin-left: 20px;
    cursor: pointer;
    padding: 2px;
  	 
    font-family: "AngryBirds"; 
    text-align:center;
    font-size:30px;	
    line-height: 42px;
    
}
nav ul li a{
		 text-decoration: none;
}
nav ul li :hover{
 background-color: transparent;
 border-radius:2px;
 text-shadow: 3px 3px 4px rgba(0,0,0,0.6); 
}
#fotoPerfil{
	position: relative;
	left: 972px;
	top: -40px;
	width: 40px;
}
.borde{
	margin: 0 auto;
	width: 1022px;
    border-radius: 20px;
	border-color: yellow;
	border-style: solid;
	border-width: 4px;
	box-shadow:inset 0px 0px 20px rgba(50,50,50,0.8);
}
#imagen{
	text-align: center;
}
#visorNoticia{
    position: relative;
	height: 400px;
	margin-top: 60px;
	overflow: hidden;	
	
	background-color:#6dd4bc;
}
#visorImagen{
    position: relative;
	height: 450px;
	margin-top: 60px;
	overflow: hidden;
	
	background-color:#6dd4bc;
}
#visorVideo{
    position: relative;
    height: 400px;
    margin-top: 60px;
    overflow: hidden;
    
    background-color:#6dd4bc;
}
#conteiner{
    min-height:100%;
   position:relative;
}
