@font-face {
    font-family: 'AngryBirds';
    src:url('../font/angrybirds-regular-webfont.woff');
}
* {
    margin: 0;
    padding: 0;
}
*:focus  {
      outline: none;  
}
html, body {
    height: 100%;
}
#page{
    position: absolute;
    top:0;
    left: 0;
    min-height:100%;
    display: none;
}
#header{
    overflow: hidden;
    position: relative;
    
    left: 0;
    width: 100%;    
    height: 75px;
    z-index: 2;
}
#body{
    text-align: center;
    width: 100%;
    height:100%;
    
    background: rgba(179,250,255,1);
    background: -moz-linear-gradient(top, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,250,255,1)), color-stop(100%, rgba(219,245,255,0.08)));
    background: -webkit-linear-gradient(top, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    background: -o-linear-gradient(top, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    background: -ms-linear-gradient(top, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    background: linear-gradient(to bottom, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3faff', endColorstr='#dbf5ff', GradientType=0 );
    
}

#footer{
    position: absolute;
    bottom: 0px;
    z-index: 3;
    width:100%;
    height:150px;
    background-image:url("/picture/footer.png");
    background-repeat:repeat-x;
}


#navegador{
            position: relative;
            width: 80%;
            min-width: 600px;
            height: 50px;
            margin: 0 auto;
            text-align: left;
            margin-top: 15px;
            background-color:#6dd4bc;
            display: run-in;
}
#navegador nav{
            width: 80%;
            min-width: 600px;
}
#navegador nav ul li{
    background-color: transparent;  
    display:inline-block;
    margin-left: 20px;
    cursor: pointer;
    padding: 2px;
     
    font-family: "AngryBirds"; 
    text-align:center;
    font-size:30px; 
    line-height: 42px;
    
}
#navegador nav ul li a{
     text-decoration: none;
     color: #666;
}
#navegador nav ul li  a:visited{
 color: #666;
}
#navegador nav ul li a:hover{
 color: #fff;
}
#navegador nav ul li :hover{
     background-color: transparent;
     border-radius:2px;
     text-shadow: 3px 3px 4px rgba(0,0,0,0.6); 
}
#fotoPerfil{
    position: absolute;
    right: 10px;
    top: 5px;
    width: 40px;
}
.borde{
    margin: 0 auto;
    border-radius: 20px;
    border-color: yellow;
    border-style: solid;
    border-width: 4px;
    box-shadow:inset 0px 0px 20px rgba(50,50,50,0.8);
}
#titulo{
    position: relative;
    width: 80%; 
    min-width: 600px;
    height: 100px;
    
    margin-top: 30px; 
    
 background-color:#6dd4bc;  
    
 color: white;
 text-decoration:inherit;
 font-family: "AngryBirds"; 
 text-align:center;
 font-size:100px;   
 line-height: 100px;
 text-shadow: 3px 3px 20px rgba(0,0,0,1);
 
 border-radius: 20px 20px 0px 0px; 
}

a{
    text-decoration: none;
}
#accesoDirecto{
    position: relative;
    top: 0px;
    height: 30px;
    left:0;
    width: 80%;
    min-width: 600px;
    border-style: none;
    border-radius: 0px 0px 20px 20px;   
    
    box-shadow:none;    
 
    cursor: pointer;
}
#accesoDirecto1{
    position: absolute;
    left:-4px;
    top:0;
    
    
        
    border: yellow solid 4px;
    border-right: none;
    border-top-style: none;
    width: 50%;
    
    border-radius: 0px 0px 0px 20px;
    color: black;
 font-family: "AngryBirds"; 
 text-align:center;
 font-size:20px;    
 line-height: 30px;
 text-decoration: none;
 
 box-shadow:inset 5px 0px 20px rgba(50,50,50,0.8);
}

#accesoDirecto2{
    position: absolute;
    right:-4px;
    margin-left: 50%;
    top:0;
    
    
    height: 30px;
    border: yellow solid 4px;
    border-top: none;
    border-left: none;
    
    width: 50%;
    border-radius: 0 0px 20px 0px;
    
     color: black;
     font-family: "AngryBirds"; 
     text-align:center;
     font-size:20px;    
     line-height: 30px;
 
    box-shadow:inset -5px 0px 20px rgba(50,50,50,0.8);
}

#accesoDirecto1:hover{
    color: white;
    
    background-color:#6dd4bc;
    
}

#accesoDirecto2:hover{
    color: white;
        
    background-color:#6dd4bc;

}
#titulo img{
    position: absolute;
    top: -40px;
    left:-40px;
    z-index: 10;
    width: 90px;
    height: 90px;
}

#contenido{
    position: relative;
    margin-bottom: 150px;
}

.pagination{
    position: relative;
    top: 100%;
    margin: 0 auto;
     color: gray;
     font-family: "AngryBirds";
     font-size:30px;    
     line-height: 50px;
}
.pagination span:hover{
}
.pagination a{
    color: black;
}
.pagination a:hover{
    color: yellow;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
}
.current{
    color: white;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.8); 
}
.disabled{
    color: gray;
}
.disabled:hover{
    color: gray;
}
.gap{
    --display: none;
}



.titulo_video{
    position:relative;
    top:0px;
    left:0px;
    width: 480px;
    height: 360px;
    z-index: 1;
backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
    background-color:rgba(85,85,85,0.7);
    border-style: solid;
    border-width: 2px;
    border-color:yellow;
   
}
.video-covertor{
    position: relative;
    top: -350px;
    height: 100%;
    width: 100%;
    
    background: transparent;
    z-index: 2;
}
.contenedor{
    position:relative;
    top:25px;
    left:25px;
    width: 480px;
    height: 360px
   -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  transform: perspective(200px);
  -webkit-transform: perspective(200px);
  -moz-transform: perspective(200px);
  -ms-transform: perspective(200px);
  -o-transform: perspective(200px);
  transform-style: preserve-3d;
  transform-origin: 0px 50% 0px;
  -webkit-transform-style: preserve-3d;
  -webkit-transform-origin: 0px 50% 0px;
  -moz-transform-style: preserve-3d;
  -moz-transform-origin: 0px 50% 0px;
  -ms-transform-style: preserve-3d;
  -ms-transform-origin: 0px 50% 0px;
  -o-transform-style: preserve-3d;
  -o-transform-origin: 0px 50% 0px;
    backface-visibility: hidden;
}
.video_conteiner{
    position: absolute;
    top:0px;
    left:0px;
    width: 476px;
    height: 356px;  
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  transform: rotatey(180deg);
  -webkit-transform: rotatey(180deg);
  -moz-transform: rotatey(180deg);
  -ms-transform: rotatey(180deg);
  -o-transform: rotatey(180deg);
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;

}
.titulo_video p{
    color: yellow;
    font-family: "AngryBirds"; 
    text-align:center;
     font-size:40px;    
    vertical-align: 50%; 
     line-height: 350px;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.6);
}
#listado_videos{
    text-decoration: none;
    text-align:center;
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
       
    background: rgba(109,212,188,1);
    border-style: solid;
    border-color: yellow;
    border-radius: 20px;
    padding-bottom: 50px;
}
#listado_videos li{
    position: relative;
    top: 20px;
    left: 0;
    display:block;
    margin: 25px auto;
    width: 530px;
    height:410px;
}
.video-borde{
    position:relative;
    width: 100%;
    height:100%;
    background-image:  url("../picture/piedra1.png");
    border-radius: 10px;
    border.style: solid;
    border:color: yellow;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    z-index: 2;
}
.video-borde:hover .contenedor{
    transform: rotatey(180deg) translatex(-100%);
  -webkit-transform: rotatey(180deg) translatex(-100%);
  -moz-transform: rotatey(180deg) translatex(-100%);
  -ms-transform: rotatey(180deg) translatex(-100%);
  -o-transform: rotatey(180deg) translatex(-100%);
}

#visorVideoPantallaCompleta{
    display:none;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0,0,0,0.7);
}

.proyector{
    position: relative;
    position: absolute;
    width: 98%;
    height: 98%;
    top: 1%;
    left: 1%;
    box-shadow: inset 0 0 20px black;
    background: rgba(0,0,0,0.5);
    
}
.iframePantallaCompleta{
    position: absolute;
    
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    border: none;
    box-shadow: 0 0 20px black;
}
.etiqueta_funcion{
    position: absolute;
    
    height: 40px;
    background-color: rgba(85,85,85,0.7);
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 0;
    transition: all 1s linear;
}
.etiqueta_funcion a{
    position: relative;
    left: 0;
    padding-left: 10px;
    color: yellow;
    text-align: right;
    font-family: "AngryBirds";
    font-size:35px;    
    line-height: 40px;
    cursor: pointer;    
}

.etiqueta_funcion p a:hover{
    text-shadow: 0 0 10px black;
}
.etiqueta_funcion img{
    position: relative;
    display: inline-block;
    top: -45px;
    left: 50px;
    background-color: rgba(85,85,85,0.7);
    width: 40px;
    height: 40px;
    padding:5px;
    border-radius: 0 5px 5px 0;
}
#etiqueta_eliminar{
    top:40px;
    left: 395px;
    transition: all 1s linear;
}
#etiqueta_editar{
    top:120px;
    left: 425px;
    transition: all 1s linear;
    
}
#etiqueta_eliminar:hover{
    left: 530px;
}
#etiqueta_editar:hover{
    left: 530px;
}


#error{
  border: 2px solid red;
  height: 100%;
  background-color: #f0f0f0;
    border-width: 2px;
    width: 800px;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.5),
                                                        0 1px 4px rgba(0, 0, 0, 0.3),
                                                        0 0 40px rgba(0, 0, 0, 0.1) inset;
                                                        
-moz-box-shadow:    0 20px 20px -10px rgba(0, 0, 0, 0.5),
                                            0 1px 4px rgba(0, 0, 0, 0.3),
                                            0 0 40px rgba(0, 0, 0, 0.1) inset;
                                            
box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.5),
                                0 1px 4px rgba(0, 0, 0, 0.3),
                                0 0 40px rgba(0, 0, 0, 0.1) inset;
  
  
}
#error_title{
    position: relative;
    top: -10px;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #c00;
    color: white;
    font-weight: bold;
  font-size: 20px;
}
#error ul{
        list-style:none;    
  }
#error ul li {
     padding: 5px;
     font-size: 20px;
}
#error:hover{
        margin-top: 35px;
        margin-bottom: -5px;
        -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#close_proyector{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
}

.close {
    position: relative;
    right: 20px;
    float: right;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.4;
    filter: alpha(opacity=20);
}
.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=100);
}
button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

#contenido #mensajes{
    position: relative;
    margin: auto;
    margin-top: 20px;
    background-color: blue;
    opacity: 0.6;
    width: 60%;
    height: 30px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    border-radius: 5px;
    transition: all 2s linear;
}

#contenido #mensajes p {
    transition: all 2s linear;
    color: white;
    line-height: 30px;
    font-size: 25px;
    font-weight: bold;
    opacity: 0.7;
}



#form_new{
    position: relative;
    margin: 0 auto;
    width: 80%;
    min-width:600px;
    margin-bottom: 170px;
}
.field{
    position: relative;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
    background-image:  url("../picture/piedra1.png");
    background-repeat: repeat;
    font-family: "AngryBirds";    
}
.field label{
    color: white;
    text-align: right;
    font-size:50px;  
    line-height: 60px;
    margin-bottom:20px;
    margin-top: 20px;
    text-shadow: 0 0 10px black;
}
.field input{
    text-align:center;
    font-family: "AngryBirds";
    color: black;
    position: relative;
    margin: 0 auto;
    margin-bottom:20px;
    margin-top: 20px;
    width: 90%;
    height: 40px;
    border-radius: 20px;
    background: rgba(0,0,0,0.6);
    box-shadow: inset 0 0 20px black, 0 0 20px rgba(0,0,0,0.6);
    text-shadow:  0 0 2px white;
    border: none;
    font-size:40px;    
    line-height: 42px;
    padding: 10px;
}
#boton_guardar{
    width: 300px;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:45px;    
    line-height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: rgba(50,50,50,1);
    box-shadow: 0 10px rgba(0,0,0,1), inset 0 0 10px rgba(0,0,0,0.8);
    cursor: pointer;
    margin-right: 20px;
}
#boton_guardar:hover{
    text-shadow: 0 0 1px black;
    color: rgba(122,122,122,1);
    text-shadow: 0 0 1px black;
    top: 5px;
    box-shadow: 0 5px rgba(0,0,0,1), inset 0 0 10px rgba(0,0,0,0.8);
}
#boton_guardar:active{
    text-shadow: 0 0 1px black;
    color: rgba(222,222,222,1);
    top:10px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
}

#form_new a{
    color: white;
    font-family: "AngryBirds";
    font-size:45px;    
    line-height: 50px;
    margin-left: 20px;
    text-shadow: 0 0 10px black;  
}
#form_new a:hover{
    color: yellow;
}

.icono_decoracion{
    position: absolute;
    top: -25px;
    left: -25px;
    width: 50px;
}
.play2{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -35px;
    width: 100px;
    height: 70px;
    z-index: 20;
}


#ajax_loading{
    display: none;
    position: fixed;
    top: 10px;
    left: 50%;
    margin-left: -150px;
    
    height: 30px;
    width: 300px;
    padding-bottom: 5px;
    
    background-color:#6dd4bc;
    border: solid 2px yellow;
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(50,50,50,0.6);
    box-shadow: 0 0 20px black;
    
    text-align: center;
    z-index: 1000;
}
#ajax_loading img{
    display: inline-block;
    top: 2.5px;
    height: 30px;
    margin-right: 10px;
}
#ajax_loading h1{
    display: inline-block;
    margin-left: 10px;
    top: -5px;
     color: white;
     text-decoration:inherit;
     font-family: "AngryBirds"; 
     text-align:center;
     font-size:30px;   
     line-height: 30px;
}


.fondo_eliminar{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    z-index: 100;
}
.fondo_eliminar div{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    box-shadow: inset 0 0 20px rgba(50,50,50,0.8);
    padding: 10px;
    border-radius: 20px;
    background: #6DD4BC;
    border: 2px solid yellow;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    
    
    
    color: white;
    font-family: "AngryBirds";
    font-size:60px;    
    line-height: 70px;
    text-align: center;
    text-shadow: 0 0 10px black;
}
.fondo_eliminar div a{
    color: gray;
    font-family: "AngryBirds";
    font-size:40px;    
    line-height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    text-shadow: 0 0 10px white;
}
.fondo_eliminar div a:hover{
    color:yellow;
}



#nada{
    position: relative;
    background-color:#6dd4bc;
    border: solid yellow 4px;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.6);
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    margin-top: 30px;
    width: 80%;
    min-width: 600px;
}
#nada h1{
    color: red;
    font-family: "AngryBirds";
    font-size:60px;    
    line-height: 80px;    
}
