@font-face {
    font-family: 'AngryBirds';
    src:url('../font/angrybirds-regular-webfont.woff');
}
body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#6dd4bc;
    margin: 0;
    text-align: center;
}

@media all (min-width: 1400px){
    h1{
        position: relative;
        text-align: center;
        top: 5%;
        margin: 0 auto;
        margin-left: 5%;
        margin-right:5%;
        margin-bottom: 5%;
        font-family: "AngryBirds"; 
        font-size:100px;    
        color: white;
        text-shadow: 5px 5px 10px rgba(0,0,0,0.7);
    }
    #img1{
        position: relative;
        top: 100px;
        height: 402px;
        width: 631px;
        background-color:#6dd4bc;
        padding 10px;
        border: solid yellow 4px;
        box-shadow: 0 0 10px black;  
    }    
}
@media all and (max-width: 1400px) and (min-width: 1024px){
    h1{
        position: relative;
        text-align: center;
        top: 50px;
        margin: 0 auto;
        margin-bottom: 25px;
        font-family: "AngryBirds"; 
        font-size:60px;    
        color: white;
        text-shadow: 5px 5px 10px rgba(0,0,0,0.7);
    }
    #img1{
        position: relative;
        
        max-height: 402px;
        max-width: 631px;
        width: 70%;
        background-color:#6dd4bc;
        border: solid yellow 4px;
        box-shadow: 0 0 10px black;  
    }    
}
@media all and (orientation:landscape) and (max-width: 1024px) and (min-width: 600px){
    h1{
        position: relative;
        text-align: center;
        top: 5%;
        margin: 0 auto;
        margin-bottom: 5%;
        font-family: "AngryBirds"; 
        font-size:40px;    
        color: white;
        text-shadow: 5px 5px 10px rgba(0,0,0,0.7);
    }
    #img1{
        position: relative;
        top: 15px;
        max-height: 60%;
        max-width: 80%;        
        background-color:#6dd4bc;
        border: solid yellow 4px;
        box-shadow: 0 0 10px black; 
    }    
}

@media all and (orientation:portrait) and (max-width: 1024px) and (min-width: 600px){
    h1{
        position: relative;
        text-align: center;
        top: 5%;
        margin: 0 auto;
        margin-bottom: 5%;
        font-family: "AngryBirds"; 
        font-size:40px;    
        color: white;
        text-shadow: 5px 5px 10px rgba(0,0,0,0.7);
    }
    #img1{
        position: absolute;
        top: 30%;
        left: 15%;
        width: 70%;
        background-color:#6dd4bc;
        border: solid yellow 4px;
        box-shadow: 0 0 10px black;  
    }    
}

@media all and (orientation:landscape) and (max-width: 600px){
    h1{
        position: relative;
        text-align: center;
        margin: 0 auto;
        margin-bottom:2%;
        font-family: "AngryBirds"; 
        font-size:20px;    
        color: white;
        text-shadow: 5px 5px 10px rgba(0,0,0,0.7);
    }
    #img1{
        position: relative;
        top: 15px;
        max-height: 60%;
        max-width: 80%;        
        background-color:#6dd4bc;
        border: solid yellow 4px;
        box-shadow: 0 0 10px black;  
    }
}
@media all and (orientation:portrait) and (max-width: 600px){
    h1{
        position: relative;
        text-align: center;
        margin: 0 auto;
        font-family: "AngryBirds"; 
        font-size:15px;    
        color: white;
        text-shadow: 5px 5px 10px rgba(0,0,0,0.7);
    }
    #img1{
        position: absolute;        
        max-height: 60%;
        max-width: 80%;
        left: 10%;
        bottom: 1%;
        background-color:#6dd4bc;
        border: solid yellow 4px;
        box-shadow: 0 0 10px black;  
    }
}

