::-webkit-scrollbar {
background: white;
box-shadow: inset 0 0 20px rgba(0,0,0,0.7);
border-radius: 6px;
width:20px;
}
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    box-shadow: inset 0 0 10px rgba(0,0,0,1),inset 5px 0 20px rgba(255,255,255,0.7),inset -5px 0 20px rgba(255,255,255,0.7);
    background: #6DD4BC;
    
}
::-webkit-scrollbar-track {
}

::-moz-scrollbar {
background: transparent;
width:10px;
}
::-moz-scrollbar-thumb {
-moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
background-image: -moz-linear-gradient(top, #6dd4bc 10%,#6dd4bc 51%);
}
::-moz-scrollbar-track {
}
::-moz-scrollbar {
background: transparent;
width:10px;
}
::-moz-scrollbar-thumb {
-moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
background-image: -moz-linear-gradient(top, #6dd4bc 10%,#6dd4bc 51%);
}
::-moz-scrollbar-track {
}


textarea {
  resize: none;
}





#notificacion{
    position: fixed;
    top: 0%;
    left 0%;
    background: none;
    z-index: 30;
     
}
#notificacion .circulo{
    position: absolute;
    border-radius: 50%;
    background: #6dd4bc;
    box-shadow: 0 0 10px black;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    cursor: pointer;
}
#notificacion .circulo img{
    position: absolute;
    top: 45px;
    left: 45px;
}
#notificacion .triangulo{
    position: absolute;
    left: 35px;
    top: 23px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 20px solid yellow;
    border-bottom: 8px solid transparent;
    z-index: 31;   
}
#notificacion .notifica{
    position: absolute;
    top:5px;
    left: 55px;
    background: #6dd4bc;
    border: yellow 2px solid;
    
}
#notificacion #notif_min{

    height: 16px;

    color: blue;
    top:21px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-weight:bold;
    text-shadow: 0 0 1px white;
    border-radius: 3px;
    box-shadow: 0 0 10px black;
}
#notificacion #notif_max{
    width: 250px;
    color: white;
    left: 55px;
    top:10px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    display: none;
}
#notificacion #notif_max #notificaciones{
    max-height: 400px;
    overflow-y: auto;
}
#all_notificaciones{
    border-top: 2px solid yellow;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background: #5cc3ab;
    border-radius: 0 0 10px 10px;
    
}
#all_notificaciones a{
    color: white;
    width: 235px;
    font-size: 20px;
    font-weight: 450;
     text-shadow: 0 0 5px black;
}

.notification{
    padding: 5px;
    border-top: solid 1px gray;
}
.notification:first-child{
    border: none;
}
.notification a p{
    color: white;
    font-weight: bold;
    text-shadow: 0 0 5px black;
    -moz-hyphens:auto;
    -ms-hyphens:auto;
    -webkit-hyphens:auto;
    -o-hyphens:auto; hyphens:auto;
    word-wrap:break-word;
}