@font-face {
    font-family: 'AngryBirds';
    src:url('../font/angrybirds-regular-webfont.woff');
}
* {
    margin: 0;
    padding: 0;
}
*:focus  {
      outline: none;  
}
html, body {
    height: 100%;
}
#visorImagenPantallaCompleta{
    display:none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 90;
}
#nav-arrows-prev{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 50%;
    margin-top: -25px;
    opacity:0.3;
    cursor: pointer;
    transition: all 1s linear;
}
#nav-arrows-prev:hover{
    opacity: 1;
    transition: all 1s linear;
}
#nav-arrows-next{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 50px;
    top: 50%;
    margin-top: -25px;
    opacity: 0.3;
    cursor: pointer;
    transition: all 1s linear;
}
#nav-arrows-next:hover{
    opacity: 1;
    transition: all 1s linear;
}
#nav-close{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 3%;
    top: 3%;
    opacity: 0.3;
    cursor: pointer;
    transition: all 1s linear;
}
#nav-close:hover{
    opacity: 1;
    transition: all 1s linear;
}
.imagenPantallaCompleta{
    position: absolute;
    width: 98%;
    height: 98%;
    top: 1%;
    left: 1%;
    box-shadow: inset 0 0 20px black;
    background: rgba(0,0,0,0.5);
}
.imagenPantallaCompleta img{
    display: none;
    position: absolute;
    max-width: 85%;
    max-height: 85%;
    padding: 2.5%;
    left: 50%;
    top: 50%;
    background: rgba(50,50,50,0.7);
    box-shadow: 0 0 20px black;
    border-radius: 20px;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
#page{
    position: absolute;
    top:0;
    left: 0;
    min-height:100%;
    display: none;
}
#header{
    overflow: hidden;
    position: relative;
    
    left: 0;
    width: 100%;
    height: 75px;
    z-index: 2;
}
#body{
    text-align: center;
    width: 100%;
    height:100%;
    
    background: rgba(179,250,255,1);
    background: -moz-linear-gradient(top, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,250,255,1)), color-stop(100%, rgba(219,245,255,0.08)));
    background: -webkit-linear-gradient(top, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    background: -o-linear-gradient(top, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    background: -ms-linear-gradient(top, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    background: linear-gradient(to bottom, rgba(179,250,255,1) 0%, rgba(219,245,255,0.08) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3faff', endColorstr='#dbf5ff', GradientType=0 );
    
}

#footer{
    position: absolute;
    bottom: 0px;
    z-index: 3;
    width:100%;
    height:150px;
    background-image:url("/picture/footer.png");
    background-repeat:repeat-x;
}


#navegador{
            position: relative;
            width: 80%;
            height: 50px;
            margin: 0 auto;
            text-align: left;
            margin-top: 15px;
            background-color:#6dd4bc;
            display: run-in;
}
#navegador nav{
            width: 80%;
}
#navegador nav ul li{
    background-color: transparent;  
    display:inline-block;
    margin-left: 20px;
    cursor: pointer;
    padding: 2px;
     
    font-family: "AngryBirds"; 
    text-align:center;
    font-size:30px; 
    line-height: 42px;
    
}
#navegador nav ul li a{
     text-decoration: none;
     color: #666;
}
#navegador nav ul li  a:visited{
 color: #666;
}
#navegador nav ul li a:hover{
 color: #fff;
}
#navegador nav ul li :hover{
     background-color: transparent;
     border-radius:2px;
     text-shadow: 3px 3px 4px rgba(0,0,0,0.6); 
}
#fotoPerfil{
    position: relative;
    left: 95%;
    top: -40px;
}
.borde{
    margin: 0 auto;
    border-radius: 20px;
    border-color: yellow;
    border-style: solid;
    border-width: 4px;
    box-shadow:inset 0px 0px 20px rgba(50,50,50,0.8);
}
#titulo{
    position: relative;
    width: 80%; 
    height: 100px;
    
    margin-top: 30px; 
    
 background-color:#6dd4bc;  
    
 color: white;
 text-decoration:inherit;
 font-family: "AngryBirds"; 
 text-align:center;
 font-size:100px;   
 line-height: 100px;
 text-shadow: 3px 3px 20px rgba(0,0,0,1);
 
 border-radius: 20px 20px 0px 0px; 
}

a{
    text-decoration: none;
}
#accesoDirecto{
    position: relative;
    border: solid red;
    top: 0px;
    height: 30px;
    left:0;
    width: 80%;
    border-style: none;
    border-radius: 0px 0px 20px 20px;   
    
    box-shadow:none;    
 
    cursor: pointer;
}
#accesoDirecto1{
    position: absolute;
    left:-4px;
    top:0;
    
    
        
    border: yellow solid 4px;
    border-right: none;
    border-top-style: none;
    width: 50%;
    
    border-radius: 0px 0px 0px 20px;
    color: black;
 font-family: "AngryBirds"; 
 text-align:center;
 font-size:20px;    
 line-height: 30px;
 text-decoration: none;
 
 box-shadow:inset 5px 0px 20px rgba(50,50,50,0.8);
}

#accesoDirecto2{
    position: absolute;
    right:-4px;
    margin-left: 50%;
    top:0;
    
    
    height: 30px;
    border: yellow solid 4px;
    border-top: none;
    border-left: none;
    
    width: 50%;
    border-radius: 0 0px 20px 0px;
    
     color: black;
     font-family: "AngryBirds"; 
     text-align:center;
     font-size:20px;    
     line-height: 30px;
 
    box-shadow:inset -5px 0px 20px rgba(50,50,50,0.8);
}

#accesoDirecto1:hover{
    color: white;
    
    background-color:#6dd4bc;
    
}

#accesoDirecto2:hover{
    color: white;
        
    background-color:#6dd4bc;

}
#titulo img{
    position: absolute;
    top: -40px;
    left:-40px;
    z-index: 10;
    width: 90px;
    height: 90px;
}
#contenido{
    position: relative;
    background-color:#6dd4bc;
    text-align:center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 170px;
    overflow: hidden;
}

.lista_imagen{
    position: relative;
    display:inline-block;
    width: 25%;
    height: 200px;
}


#contenido img {
    position: absolute;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
    margin: 0 auto;
    max-width: 90%;
    max-height: 90%;
    
    border: 2px solid yellow;
    border-radius: 15px;
    
    box-shadow: 0 0 20px black;
    
    transition: all 0.5s linear;
    
    z-index: 10;
}
#contenido img:hover {
    max-width:150%;
    max-height: 150%;
    
    box-shadow: 0 0 40px black;
    
    transition: all 0.5s linear;
    z-index: 12;
}
#contenido .delete{
    position: absolute;
    left: 50%;
    top: -50px;
    
    width: 30px;
    z-index: 13;
    
    box-shadow:inset 0 0 40px black;
    background-color:#6dd4bc;
    border:none;
    animation: all 0.5s linear;
}
#contenido .delete:hover{
 
    padding:3px;
    border: solid yellow 2px; 
    box-shadow:inset 0 0 20px black;
    animation: all 0.5s linear;
}
#error{
  border: 2px solid red;
  height: 100%;
  background-color: #f0f0f0;
    border-width: 2px;
    width: 800px;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.5),
                                                        0 1px 4px rgba(0, 0, 0, 0.3),
                                                        0 0 40px rgba(0, 0, 0, 0.1) inset;
                                                        
-moz-box-shadow:    0 20px 20px -10px rgba(0, 0, 0, 0.5),
                                            0 1px 4px rgba(0, 0, 0, 0.3),
                                            0 0 40px rgba(0, 0, 0, 0.1) inset;
                                            
box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.5),
                                0 1px 4px rgba(0, 0, 0, 0.3),
                                0 0 40px rgba(0, 0, 0, 0.1) inset;
  
  
}
#error_title{
    position: relative;
    top: -10px;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #c00;
    color: white;
    font-weight: bold;
  font-size: 20px;
}
#error ul{
        list-style:none;    
  }
#error ul li {
     padding: 5px;
     font-size: 20px;
}
#error:hover{
        margin-top: 35px;
        margin-bottom: -5px;
        -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}




.pagination{
    top: 100%;
    margin: 0 auto;
     color: gray;
     margin-top: 50px;
     font-family: "AngryBirds";
     font-size:30px;    
     line-height: 50px;
}
.pagination span:hover{
}
.pagination a{
    color: black;
}
.pagination a:hover{
    color: yellow;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
}
.current{
    color: white;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.8); 
}
.disabled{
    color: gray;
}
.disabled:hover{
    color: gray;
}
.gap{
    --display: none;
}








#ajax_loading{
    display: none;
    position: fixed;
    top: 10px;
    left: 50%;
    margin-left: -150px;
    
    height: 30px;
    width: 300px;
    padding-bottom: 5px;
    
    background-color:#6dd4bc;
    border: solid 2px yellow;
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(50,50,50,0.6);
    box-shadow: 0 0 20px black;
    
    text-align: center;
    z-index: 1000;
}
#ajax_loading img{
    display: inline-block;
    top: 2.5px;
    height: 30px;
    margin-right: 10px;
}
#ajax_loading h1{
    display: inline-block;
    margin-left: 10px;
    top: -5px;
     color: white;
     text-decoration:inherit;
     font-family: "AngryBirds"; 
     text-align:center;
     font-size:30px;   
     line-height: 30px;
}
#ajax_mensaje{
    display: none;
}
#ajax_form{
    position: fixed;
    display:none;
    top: 10px;
    left: 50%;
    margin-left: -260px;
    
    height: 130px;
    width: 500px;
    padding: 10px;
    
    background-color:#6dd4bc;
    border: solid 2px yellow;
    border-radius: 20px;
    box-shadow: inset 0 0 10px rgba(50,50,50,0.6);
    box-shadow: 0 0 20px black;
    
    text-align: center;
    z-index: 1000;
    
}


.custom-input-file {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-color: #6dd4bc;
    
    margin-top: 20px;
    
    color: white;
     text-decoration:inherit;
     font-family: "AngryBirds"; 
     text-align:center;
     font-size:30px;   
     line-height: 30px;
     text-shadow: 0 0 10px rgba(50,50,50,0.6);
    
    border-radius: 10px;
    width: 100%;
    min-height: 40px;
    box-shadow: inset 0 0 10px rgba(50,50,50,0.6);
}
.custom-input-file:hover {
    color: #ffff00;
}
.custom-input-file .input-file {
    margin: 0;
    padding: 0;outline:0;
    font-size: 10000px;
    border: 10000px solid transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    right: -1000px;
    top: -1000px;
    cursor: pointer;
}
.custom-input-file .archivo {
    background-color: transparent;
    color: #fff;
    font-size: 7pt;
    overflow: hidden;
}
.custom-input-file:hover .archivo {
    
}
#guardar{
    margin-top: 15px;
    
    width: 50%;
    
    color: rgba(255,255,255,0.3);
     text-decoration:inherit;
     font-family: "AngryBirds"; 
     text-align:center;
     font-size:30px;   
     line-height: 30px;
     text-shadow: 0 0 10px rgba(50,50,50,0.6);
     
     background-color:#6dd4bc;
     border: none;
    border-radius: 5px;
    box-shadow: 0 0 20px black;
}
#guardar:hover{
       color: white;   
}
#guardar:active{
    box-shadow: 0 0 5px black;
}

#ajax_form .close{
    position: absolute;
    width: 15px;
    height: 15px;
    right: 3%;
    top: 3%;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.5s linear;
}
#ajax_form .close:hover{
    opacity: 1;
    transition: all 0.5s linear;
}





#mensajes{
    position: relative;    
     top: -30px;
     color: rgba(255,255,255,1);
     text-decoration:inherit;
     font-family: "AngryBirds"; 
     text-align:center;
     font-size:30px;   
     line-height: 30px;
     text-shadow: 0 0 10px rgba(50,50,50,0.6);
     
     background-color:yellow;
     border: none;       
}
#mensajes img{
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 100%;
    margin-left: -15px;
    border: none;
    background: none;
}
#mensajes img{
    box-shadow: 0 0 0 black;
}




.etiqueta_eliminar{
    position: absolute;
    bottom: 10px;
    right: 50px;
    display: none;
    opacity: 0.4;
}
.etiqueta_eliminar p a{
    color: rgba(255,255,255,1);
    
     text-decoration:inherit;
     font-family: "AngryBirds"; 
     text-align:center;
     font-size:30px;   
     line-height: 30px;
     text-shadow: 0 0 10px rgba(50,50,50,0.6);        
}
.etiqueta_eliminar:hover{
    opacity: 1;
}
.etiqueta_eliminar p{
    position: relative;
}
.etiqueta_eliminar img{
    position: absolute;
    top: 0;
    left: 100%;
    display: inline-block;
    opacity: 1;
    border-radius: 0;
    width: 30px;
    background: none;
    box-shadow: none;
    transform: translate(0, 0);    
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
}


#nada{
    position: relative;
    margin: 0 auto;
    width: 80%;
    min-width: 600px;
}
#nada h1{
    color: red;
    font-family: "AngryBirds";
    font-size:60px;    
    line-height: 80px;    
}
