@font-face {
    font-family: 'AngryBirds';
    src:url('../font/angrybirds-regular-webfont.woff');
}
#titulo{
    position: relative;	
	height: 100px;
	
	margin-top: 30px; 
	
 background-color:#6dd4bc;	
	
 color: white;
 text-decoration:inherit;
 font-family: "AngryBirds"; 
 text-align:center;
 font-size:100px;	
 line-height: 100px;
 text-shadow: 3px 3px 20px rgba(0,0,0,1);
 
 border-radius: 20px 20px 0px 0px; 
}

a{
	text-decoration: none;
}
#accesoDirecto{
	position: relative;
	
	top: 0px;
	height: 30px;
	margin-top: 0px;
	
	border-style: none;
	border-radius: 0px 0px 20px 20px;	
	
	box-shadow:none;	
 
 
}
#accesoDirecto1{
	position: relative;
	top: 0px;
	left: -4px;
	
	height: 30px;
	border-color: yellow;
	border-style: solid;
	border-top-style: none;
	border-right-width: 4px;	
	
	width: 509px;
	
	border-radius: 0px 0px 0px 20px;
	color: black;
 font-family: "AngryBirds"; 
 text-align:center;
 font-size:20px;	
 line-height: 30px;
 text-decoration: none;
 
 box-shadow:inset 0px 0px 20px rgba(50,50,50,0.8);
}

#accesoDirecto2{
	position: relative;
	top: -33px;
	
	height: 30px;
	border-color: yellow;
	border-style: solid;
	border-top-style: none;
	border-left-width: 4px;	
	
	width: 511px;
	left: 508px;
	border-radius: 0 0px 20px 0px;
	
     color: black;
     font-family: "AngryBirds"; 
     text-align:center;
     font-size:20px;	
     line-height: 30px;
 
 box-shadow:inset 0px 0px 20px rgba(50,50,50,0.8);
}

#accesoDirecto1:hover{
	color: white;
	
	background-color:#6dd4bc;
	
}

#accesoDirecto2:hover{
	color: white;
	  	
	background-color:#6dd4bc;

}
.field_with_errors {
  display: inline;
}

.field_with_errors .message {
  color: #D00;
  padding-left: 5px;
  font-size: 12px;
}
#lista_conteiner{
    position: relative;
    top: 0px;
    height: 100%;
}
.list_noticia{
    position:relative;
    top: 0;
    margin-top: 50px;
    height: 400px;
    background-color:#6dd4bc;
    text-align: left;
    overflow: hidden;
}
.list_noticia h1{
    position: relative;
    top: 10px;
    text-align: center;
    margin:0 auto;
    
    font-family: "AngryBirds"; 
    text-align:left;
    font-size:64px; 
    line-height: 64px;
    color: white;
    
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    font-weight: 700;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.6);
}
.list_noticia p{
    width: 690px;
    position: relative;
    top: 20px;
    left: 10px;
    color: #FCEB29;
    font-size: 30px;
    line-height: 40px;
    height: 285px;
    overflow: hidden;
    font-style: italic;
    font-family: 'Economica', Arial, sans-serif;
    font-weight: 400;
    font-style: italic;
    word-wrap: break-word;
    overflow: hidden;
    text-indent:50px;
}
.list_noticia img{
    position: relative;
    left: 710px;
    top: -286px;
    width: 300px;
    height: 300px;
}
#form_new{
    position: relative
    width: 100%;
    top: 0px;
    left: 0;
    margin-top: 30px;
    background: transparent;
}
.field{ 
    position: relative;
    border-style: solid;
    border-color: yellow;
    background-color:#6dd4bc;
    border-width: 4px;
    width: 1022px;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow:inset 0px 0px 20px rgba(50,50,50,0.8);
    text-align: center;
    
}
.field label{
     color: white;
     font-family: "AngryBirds"; 
     text-align:center;
     font-size:60px;   
     line-height: 60px;
     text-shadow: 3px 3px 20px rgba(0,0,0,1);    
}
.field input{
     margin-top: 10px;
     margin-bottom: 10px;
     width: 600px;
     height: 50px;
     background: transparent;
     border-style: none;
     border-radius: 10px;
     box-shadow:inset 0px 0px 20px rgba(50,50,50,0.8);
     font-family: "AngryBirds";
     color: yellow; 
     text-align:center;
     font-size:40px;   
     line-height: 50px;
}
.field textarea{
     margin-top: 10px;
     margin-bottom: 10px;
     width: 580px;
     height: 180px;
     padding: 10px;
     background: transparent;
     border-radius: 10px;
     box-shadow:inset 0px 0px 20px rgba(50,50,50,0.8);
     border-style: none;
     color: yellow;
     text-align:left;
     font-size:20px;   
     line-height: 22px;
}

#boton_guardar{
    color: white;
    box-shadow:0px 0px 20px rgba(50,50,50,0.8);
    text-shadow: 3px 3px 20px rgba(0,0,0,1);  
    cursor: pointer;
}
#boton_guardar:hover{
    --background-color:#6dd4bc;
    background-color:#55D4BC;
    box-shadow:0px 0px 5px rgba(50,50,50,0.8);
    text-shadow: 3px 3px 5px rgba(0,0,0,0.4);    
}
#contenido{
    position: relative;
    text-align:center;
    margin-top: 50px;
    
}

.titulo_video{
    position:relative;
    top:0px;
    left:0px;
    width: 350px;
    height: 350px;
    z-index: 1;
backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	background-color:#6dd4bc;
	border-style: solid;
	border-width: 2px;
	border-color:yellow;
	box-shadow:inset 0px 0px 20px rgba(50,50,50,0.8);
   
}
.video-covertor{
    position: relative;
    top: -350px;
    height: 100%;
    width: 100%;
    
    background: transparent;
    z-index: 2;
}
.contenedor{
    position:relative;
    top:25px;
    left:25px;
    width: 350px;
    height: 350px
   -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  transform: perspective(200px);
  -webkit-transform: perspective(200px);
  -moz-transform: perspective(200px);
  -ms-transform: perspective(200px);
  -o-transform: perspective(200px);
  transform-style: preserve-3d;
  transform-origin: 0px 50% 0px;
  -webkit-transform-style: preserve-3d;
  -webkit-transform-origin: 0px 50% 0px;
  -moz-transform-style: preserve-3d;
  -moz-transform-origin: 0px 50% 0px;
  -ms-transform-style: preserve-3d;
  -ms-transform-origin: 0px 50% 0px;
  -o-transform-style: preserve-3d;
  -o-transform-origin: 0px 50% 0px;
	backface-visibility: hidden;
}
.video_conteiner{
    position: absolute;
    top:0px;
    left:0px;
    width: 346px;
    height: 346px;	
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  transform: rotatey(180deg);
  -webkit-transform: rotatey(180deg);
  -moz-transform: rotatey(180deg);
  -ms-transform: rotatey(180deg);
  -o-transform: rotatey(180deg);
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;

}
.titulo_video p{
	color: yellow;
	font-family: "AngryBirds"; 
	text-align:center;
	 font-size:40px;	
	vertical-align: 50%; 
	 line-height: 350px;
	text-shadow: 3px 3px 4px rgba(0,0,0,0.6);
}
#listado_videos{
    text-decoration: none;
    text-align:center;
    width: 1022px;
    margin: 0 auto;
}
#listado_videos li{
    position: relative;
    top: 20px;
    left: 0;
    display: inline-block;
    margin: 0 auto;
    width: 400px;
    height:400px;
}
.video-borde{
    position:relative;
    width: 100%;
    height:100%;
    background-image:  url("../picture/piedra1.png");
    border-radius: 10px;

}
.video-borde:hover .contenedor{
    transform: rotatey(180deg) translatex(-100%);
  -webkit-transform: rotatey(180deg) translatex(-100%);
  -moz-transform: rotatey(180deg) translatex(-100%);
  -ms-transform: rotatey(180deg) translatex(-100%);
  -o-transform: rotatey(180deg) translatex(-100%);
}
.pagination{
     color: gray;
     margin: 0 auto;
     font-family: "AngryBirds";
     font-size:30px;    
     line-height: 50px;
}
.pagination span:hover{
}
.pagination a{
    color: black;
}
.pagination a:hover{
    color: yellow;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.8);
}
.current{
    color: white;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.8); 
}
.disabled{
    color: gray;
}
.disabled:hover{
    color: gray;
}
.gap{
    --display: none;
}


.list_noticia .mask-1, .list_noticia .mask-2 {
    position: absolute;
    height: 1100px;
    width: 380px;
    background: rgba(119, 144, 77, 0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out 0.6s;
    -moz-transition: all 0.3s ease-in-out 0.6s;
    -o-transition: all 0.3s ease-in-out 0.6s;
    transition: all 0.3s ease-in-out 0.6s;
}
.list_noticia .mask-1 {
    top: 4px;
    left: 652px;
    --background: rgba(50, 50, 50, 0.5);
    -webkit-transform: rotate(69deg) translateX(-380px);
    -moz-transform: rotate(69deg) translateX(-380px);
    -o-transform: rotate(69deg) translateX(-380px);
    -ms-transform: rotate(69deg) translateX(-380px);
    transform: rotate(69deg) translateX(-380px);
    -webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -o-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}
.list_noticia .mask-2 {
    top: -700px;
    left: 0px;
    -webkit-transform: rotate(69deg) translateX(380px);
    -moz-transform: rotate(69deg) translateX(380px)
    -o-transform: rotate(69deg) translateX(380px);
    -ms-transform: rotate(69deg) translateX(380px);
    transform: rotate(69deg) translateX(380px);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}
.list_noticia .content {
		 position: absolute;
		 top: 0;
		 left: 255px;
		 border-radius: 10px;
    background: rgba(0, 0, 0, 0.9);
    height: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    width: 0;
    overflow: hidden;
    -webkit-transform: rotate(-33.5deg) translate(-112px, 166px);
    -moz-transform: rotate(-33.5deg) translate(-112px, px);
    -o-transform: rotate(-33.5deg) translate(-112px, 166px);
    -ms-transform: rotate(-33.5deg) translate(-112px, 166px);
    transform: rotate(-33.5deg) translate(-112px, 166px);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: all 0.4s ease-in-out 0.3s;
    -moz-transition: all 0.4s ease-in-out 0.3s;
    -o-transition: all 0.4s ease-in-out 0.3s;
    transition: all 0.4s ease-in-out 0.3s;
}
.list_noticia h2 {
    background: transparent;
    margin-top: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.list_noticia a.info {
    display: none;
}
.list_noticia:hover .content {
    height: 300px;
    width: 511px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: 0.9;
    top: 50px;
    -webkit-transform: rotate(0deg) translate(0, 0);
    -moz-transform: rotate(0deg) translate(0, 0);
    -o-transform: rotate(0deg) translate(0, 0);
    -ms-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0);
}
.list_noticia:hover .mask-1, .list_noticia:hover .mask-2 {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.list_noticia:hover .mask-1 {
    -webkit-transform: rotate(69deg) translateX(-1px);
    -moz-transform: rotate(69deg) translateX(-1px);
    -o-transform: rotate(69deg) translateX(-1px);
    -ms-transform: rotate(69deg) translateX(-1px);
    transform: rotate(69deg) translateX(-1px);
}
.list_noticia:hover .mask-2 {
    -webkit-transform: rotate(69deg) translateX(-1px);
    -moz-transform: rotate(69deg) translateX(-1px);
    -o-transform: rotate(69deg) translateX(-1px);
    -ms-transform: rotate(69deg) translateX(-1px);
    transform: rotate(69deg) translateX(-1px);
}