body {

}
table{
    
    width: 100%;
    max-width: 500px;
    
    height: 30px;
    border-collapse:collapse; 
    border: none;
    color: #b9f1ff;
    border-spacing: 0;
}
td {
    position: relative;
    top:0;
    padding: 0;
    
}
table, tr, td, img {
margin: 0; padding: 0; border: 0
}
img{
    position: relative;
    top:5px;
}
