<head>
  <title>Angry Birds Fan Page</title>
  <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
    <h1>Welcome <td><%= @persona.username %></td></h1>
    <%= link_to "Cerrar Sesion","/logout",:class => 'btn btn-primary' %>
</body>

