<%= div_for notification do %>
  <a href="/noticias/<%=notification.noticia_id%>/#new_comment">
    <p>
        <%
        noticia = Noticium.find(notification.noticia_id)
        if notification.persona_id == noticia.persona_id
        %>
            <%= notification.noticia_propia%>    
        <%   
        else
        %>
            <%= notification.noticia_otro%>    
        <%       
        end 
        
        %>
     </p>
   </a>
<% end %>
