<head>
        <title>Angry Birds Fan Club</title>
        <link rel="stylesheet" href="/css/stylesheet2.css">
        <link rel="stylesheet" href="/css/stylesheet3.css">
        <link rel="stylesheet" type="text/css" href="/css/stylesheetNoScript.css" />
        <link rel="stylesheet" type="text/css" href="/css/stylesheetLoad.css" />
</head>
<body>
    <div id="loading">
        <div id="background"></div>
        <div id="midground"></div>
        <div id="foreground"></div>
        <div id="tapa"></div>
        <div class="bokeh">
                <img id="bokeh1" src="/picture/space/ice.png" height="100px" >
                <img id="bokeh2" src="/picture/space/bomb.png" height="100px">
                <img id="bokeh3" src="/picture/space/green.png" height="100px">
                <img id="bokeh4" src="/picture/space/laser.png" height="100px"> 
            <div id="circulo"></div>
        </div>
            <div id="bokehText">
            <p>Cargando...</p>
        </div>
        
    </div>
    <div id="page">
        <div id="conteiner">


    
        <div id="body">
        
                <div id="header">
                        <div id="imagen">
                            <img src="/picture/logo2.png"  height="75" >
                    </div>
                </div>
                <div id="navegador" class="borde">
                        <nav >
                                <ul>
                                    <li><a href="/start" >Inicio</a></li>
                                    <li><a href="/noticia" >Noticias</a></li>
                                    <li><a href="404" >Imágenes</a></li>
                                    <li><a href="/videos" >Videos</a></li>
                                </ul>
                                
                    </nav>
                    <img src=<%= @persona.genero ? ("/picture/hombre.png") : ("/picture/mujer.png") %> src="" id="fotoPerfil" >
                </div>
                <div id="titulo" class="borde">
                    Videos
                </div>
                <div id="accesoDirecto" class="borde">
                    <a href="/videos/new" >
                        <div id="accesoDirecto1">
                            Agregar Video
                        </div>
                    </a>
                    <a href="" >
                        <div id="accesoDirecto2">
                            Mis Videos
                        </div>
                    </a>
                </div>
                <div id="contenido" width="1022px" >
                    
                    <ul id="listado_videos"> 
                    <% @videos.each do |app| %>
                         <li>  
                             <div class="video-borde">
				                <div class="contenedor">					
                              		<div class="titulo_video">
						                  <p><%= app.titulo %></p>
					                </div>
    				                <div  class="video_conteiner" >
                                 		<iframe type="text/html" width="100%" height="100%" frameborder="0"src="<%= app.url%>"></iframe>
                             		</div>
			                     </div>
                            </div>
                        </li>
                    <% end %>
                    </ul>
                    <%= will_paginate @videos, :previous_label => t("< anterior"), :next_label => t("siguiente >"), :page_gap => "...", :outer_window   => '1', :inner_window => '1', :link_separator => ' - ' %>
                </div>        
        </div>
        <div id="footer">
            <a href="/logout"  >
                <img src="/picture/exit1.png" style=" margin-top: 30px; margin-left: 20px;">
            </a>
        </div>
    </div>    
    </div>
    
    <script src= '/js/scriptLoad.js' > </script>
        <script language="javascript">
                window.onload = inicio;
            </script>
        <noscript><div id="noscript"><br/>Javascript deshabilitado: para poder apreciar la pagina web por favor activa javascript en tu navegador</div></noscript>
        <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
    <script src="js/jquery.backgroundPosition.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
        
          $('#midground').css({backgroundPosition: '0px 0px'});
          $('#foreground').css({backgroundPosition: '0px 0px'});
          $('#background').css({backgroundPosition: '0px 0px'});
        
            $('#midground').animate({
                backgroundPosition:"(-10000px -2000px)"
            }, 240000, 'linear');
            
            $('#foreground').animate({
                backgroundPosition:"(-10000px -2000px)"
            }, 120000, 'linear');
            
            $('#background').animate({
                backgroundPosition:"(-10000px -2000px)"
            }, 480000, 'linear');
            
        });
    </script>
</body>
