  <head>
			<title>Angry Birds Fan Club</title>
			<link rel="stylesheet" href="/css/stylesheet1.css">
  </head>
  <body>
		
   <div id="body">
	<div id="header" style="margin-top: 0px;">
		<div id="imagen">
			<img  src="/picture/logo2.png"  height="150" >
		</div>
	</div>
   	<div id="mensaje" style="margin-top: -150px;">
		<br/>
		<br/>
		<br/>
		<h1>Error en la activación.</h1>
	</div>
   </div>
   <div id="footer">
   
   </div>

  </body>
<html>
