<!DOCTYPE html>
<html>
<head>
    <title>Angry Birds Fan Club</title>
    <link rel="shortcut icon" href="/favicon1.ico" />
		<link rel="stylesheet" href="/css/stylesheet2.css">
		<link rel="stylesheet" href="/css/stylesheet3.css">
</head>
<body>
    <div id="conteiner">
		<div id="body" >
		
				<div id="header">
						<div id="imagen">
  							<img src="/picture/logo2.png"  height="75" >
  					</div>
				</div>
				<div id="navegador" class="borde">
						<nav >
								<ul>
		    						<li><a href="/start" >Inicio</a></li>
		    						<li><a href="/noticia" >Noticias</a></li>
		    						<li><a href="/imagenes" >Imágenes</a></li>
		    						<li><a href="/videos" >Videos</a></li>
								</ul>
								
	    			</nav>
	    			<img src=<%= @persona.genero ? ("/picture/hombre.png") : ("/picture/mujer.png") %> src="" id="fotoPerfil" >
				</div>
				<div id="titulo" class="borde">
					Noticias
				</div>
				<div id="accesoDirecto" class="borde">
					<a href="/noticia/new" >
						<div id="accesoDirecto1">
							Agregar Noticia
						</div>
					</a>
					<a href="" >
						<div id="accesoDirecto2">
							Mis Noticias
						</div>
					</a>
				</div>
				<div id="lista_conteiner">
				<% @noticia.each do |app| %>
                    <div class="list_noticia borde">
                        <h1><%= app.titulo%></h1>
                        <p><%= app.cuerpo%></p>
                        <img src="images/1.png" >
                        <div class="mask mask-1"></div>
                        <div class="mask mask-2"></div>
                        <div class="content">
                        </div>
                    </div>
                    
                <% end %>
                <%= will_paginate @noticia, :previous_label => t("< anterior"), :next_label => t("siguiente >"), :page_gap => "...", :outer_window   => '1', :inner_window => '1', :link_separator => ' - ' %>
            </div>		
		</div>
		
		<div id="footer" style="top: 150px;">
			<a href="/logout"  >
                <img src="/picture/exit1.png" style=" margin-top: 30px; margin-left: 20px;">
            </a>
		</div>
	</div>	
</body>
</html>
