<!DOCTYPE html>
<html>
<head>
  <title>Angry Birds Fan Club</title>
  <link rel="shortcut icon" href="/Angrybirds.ico" />
  <%= stylesheet_link_tag    "appliation", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
